body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to left, #0d1314 73%, #ffaf4d 73%);
}

.TextHeaderParkingLotsStatus{
  font-size: 3vw;
  font-weight: bold;
  text-align: center;
  margin: -250px -5px 0;
  color: #fff;
}

.ParkingLotsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  width: 80%;
  max-width: 1200px;
}

.ParkingLots {
  width: 200px;
  background-color: #48c790;
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin: 10px;
  color: #fff;
  padding: 20px;
  text-align: center;
  transition: all 0.3s ease;
}

.ParkingLots:hover, .popularityButton:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.1);
}

.value {
  font-size: 2vw;
  font-weight: bold;
  color: #fff;
}

.ButtonToCheckStatusUsingGraph{
  position: absolute;
  left: 2%;
  bottom: 45%;
  right: 75%;
  text-align: center;
  background-color: #ffffffa6;
  border-radius: 6px;
  color: #000000;
  padding: 25px;
  transition: all 0.3s ease;
}

.ButtonToCheckStatusUsingGraph a {
  color: inherit;      
  text-decoration: none;   
}



